@keyframes scale_opacity {
    0% {
      transform: scale(0.6);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}

.fade_out {
  animation: scale_opacity 0.25s ease-in-out;
}