.untoggle_dot {
    transform: translateX(-5px);
    background-color: white;
}

.toggle_dot {
    transform: translateX(calc(100% + 11px));
    background-color: black;
}

.light_line {
    background-color: black;
}

.dark_line {
    background-color: white;
}