@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family: "Aldrich";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Aldrich/Aldrich-Regular.ttf") format("truetype");
  }
  @font-face{
    font-family: "Objektiv Mk1 Trial";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/ObjectiveMk1/ObjektivMK1_Trial_Bd.ttf") format("truetype");
  }
  @font-face{
    font-family: "Eigerdals";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Eigerdals/Eigerdals_W00_Heavy.ttf") format("truetype");
  }
}
html,
body {
  background-color: #010e17;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
