@tailwind base;
@tailwind components;
@tailwind utilities;


  @font-face {
    font-family: "Aldrich";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Aldrich/Aldrich-Regular.ttf") format("truetype");
  }
  @font-face{
    font-family: "Objektiv Mk1 Trial";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/ObjectiveMk1/ObjektivMk1_Trial_Bd.ttf") format("truetype");
  }
  @font-face{
    font-family: "Eigerdals";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Eigerdals/Eigerdals_W00_Heavy.ttf") format("truetype");
  }
  @font-face{
    font-family: "Objektiv Mk1 Trial Rg";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/ObjectiveMk1Norm/ObjektivMk1_Trial_Rg.ttf") format("truetype");
  }
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
html,
body {
  background-color: #010e17;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}


a {
  color: inherit;
  text-decoration: none;
}

.scroll-snap-x-mandatory {
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 640px) {
  .scroll-snap-x-mandatory {
    scroll-padding-left: 2rem;
    scroll-padding-right: 2rem;
  }
}

* {
  box-sizing: border-box;
}
